<div class="grid-container">
  <h1 class="mat-h1"><mat-icon aria-hidden="true" aria-label="Example home icon" fontIcon="dashboard"></mat-icon>Dashboard</h1>
  <div *ngIf="!cpuLoad" class="spinner-container">
      <mat-spinner [diameter]="150"  color="warn"></mat-spinner>
  </div>
  <mat-grid-list *ngIf="cpuLoad" cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" id="{{card.title}}}">
        <mat-card-header>
          <div *ngIf="card.title == 'Card 1'">
            <div class="cpu-statistique">
              <app-cpu-line-chart
                      [cores]="cpuLoad"
              ></app-cpu-line-chart>
            </div>
          </div>
          <div *ngIf="card.title == 'Card 2'">
            <div class="ram-statistique">
              <app-pie-chart
                      [UsedValue]="usedvalue"
                      [FreeValue]="freevalue"
              ></app-pie-chart>
              <div class="writeStatistique">
                <li>
                  Libre : {{freevalue}} mo
                </li>
                <li>
                  Utilisé : {{usedvalue}} mo
                </li>
              </div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.title == 'Card 3'">
            <div class="terminal-output">
              <div class="body" *ngIf="SystemInfo">
                <div class="row">
                  <div class="label">Manufacturer:</div>
                  <div class="value">{{SystemInfo.system.manufacturer}}</div>
                </div>
                <div class="row">
                  <div class="label">Model:</div>
                  <div class="value">{{SystemInfo.system.model}}</div>
                </div>
                <div class="row">
                  <div class="label">Kernel:</div>
                  <div class="value">5.15.76-v7l+</div>
                </div>
              </div>
            </div>
            <div>
              <app-process-list></app-process-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
